.side-bar {   
    margin-top: 15px;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    background-color:#F8F9FA ;
    float: right;
    padding: 10px;
}
.new-post {
    
    border-radius: 5px;
}

li{
     list-style: none;
     line-height: 2rem;
     cursor: pointer;
 }

